.frontcontainer {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10%;
    background-color: white;
    min-height: 110px;
}

figure h3 {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}