.main, .section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px
}

.guidechoice img {
  width: 30%;
}

.section a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #91ad8c; 
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 10px gray;
  color: white;
}

.section a:hover {
  color: #FFFA9B; 
}


[type=radio] {
  position: absolute;
  opacity: 0;
}

[type=radio]+img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 5px dotted rgb(100, 185, 255);
}

.locked {
  cursor: default;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
       filter: grayscale(100%);
}
