.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.completeModal div {
  border-radius: 10px;
  width: 50vw;
  height: 60vh;
  padding: 10px;
  text-overflow: scroll;
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  color: black;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
}