.guideContainer {
display:flex;
flex-direction: column;

}

.guideText {
  height: auto;
	padding: 30px;
	margin: 40px auto;
  position: relative;
	border-radius: 200px;
	text-align: center;
	border: 1px solid #333;
  background-color: white;
  justify-content: flex-end;
 

}

.guideImg{
  width: 30%;
} 

