.guideContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; */
  width: 90vw;
  margin-right: 5%;
}
.guideText {
  height: auto;
	padding: 30px;
	margin: 40px auto;
  position: relative;
	border-radius: 200px;
	text-align: center;
	border: 1px solid #333;
  background-color: white;
}

.guideText:before,
.guideText:after {
	content: ' ';
	position: absolute;
	left: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: white;
	border: 1px solid #333;
	border-radius: 28px;
}

.guideText:after {
	width: 20px;
	height: 20px;
	left: 5px;
	bottom: -40px;
	border-radius: 18px;
  background-color: white;
}

.guideImg{
  width: 150px;
  position: absolute;
  padding: 10px;
  border-radius: 10%;
  position: relative;
  padding: 0;
  margin: 0;
  justify-content: center;
} 

