.main {
    padding: 5%;
}

.main p {
    margin-bottom: 10px;
}

.welcome {
    margin-bottom: 20px;
}
.authbuttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.authbuttons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #91ad8c; 
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 10px gray;
    color: white;
}

.authbuttons a:hover {
    color: #FFFA9B; 
}

.authbuttons a:active {
    border: none;
    background-color: #91ad8c; 
    border-radius: 20px;
    padding: 10px;
    color: white;
}

.guidecontent {
    display: flex;
}

.guidecontent img {
    height: 14vh;
}

@media only screen and (min-width: 768px) {
    .guidecontent img {
        height: 20vh;
    }

    .authbuttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        /* width: 50vw; */
    }

    .authbuttons a {
        width: 40%;
    }
}