header {
    position: relative;
    z-index: 10;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0px 5px 10px gray;
    background-color: white;
}

nav img {
    width: 40px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    nav img {
        width: 60px;
    }
}